<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Картотека</title>
</head>
<body>
<header>
    <h1>Картотека</h1>
    <nav>
        <a href="{{ url_for('st0118.index') }}">Элементы</a> |
        <a href="{{ url_for('st0118.add') }}">Добавить</a> |
        <a href="{{ url_for('st0118.import_from_pickle_to_sql') }}">Загрузить из файла</a> |
        <a href="{{ url_for('st0118.save_to_file') }}">Сохранить</a>
    </nav>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</header>

<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>